.style{
    color: brown;
}
h1{
    font-size: 30px;
}
.side-bar{
    display: flex;
    margin-bottom: 100px;
}
.header{
    width: 50%;
    padding-left: 2%;
}
.header a{
    border: 3px solid gray;
    padding: 10px 30px;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    
}
.header a:hover{
    background-color: red;

}

.image img{
    width: 80%;
    margin-left: 40px;
   
}
.baby {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.baby-child{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.hero{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    width: 40%;
}
#cute{
    border-left: 7px solid tomato;
}
#cutes{
border-left: 7px solid green;
}
footer p{
    text-align: center;
}